<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>


     <style>
        @import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
        html,
        body {
          height: 100%
        }
    </style>

</head>
<body>

    <div class="h-100 d-flex align-items-center justify-content-center">
          <div>

               <h3>Επεξεργασία Σημείωσης</h3>

            <form method="post" action="{% url 'save_edit' instance.id %}">
                {% csrf_token %}
                 <input type="text" style="width: 300px; height: 50px; border: black 1px solid" name="note_input" value="{{ instance.note_text }}">
                <input type="submit" style="width: 100px; height: 50px;">
            </form>

          </div>
    </div>

</body>
</html>